In [1]:
from pyspark.sql import SparkSession;
from pyspark.context import SparkContext;

# warehouse_location points to the default location for managed databases and tables
from os.path import abspath
warehouse_location = abspath('spark-warehouse')

spark = SparkSession \
    . builder \
    .master("local[*]") \
    .appName("ISM6562 PySpark Tutorials") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .enableHiveSupport() \
    .getOrCreate()

sc =spark.sparkContext
sc.setLogLevel("ERROR") # only display errors (not warnings)

# note: If you have multiple spark sessions running (like from a previous notebook you've run), 
# this spark session webUI will be on a different port than the default (4040). One way to 
# identify this part is with the following line. If there was only one spark session running, 
# this will be 4040. If it's higher, it means there are still other spark sesssions still running.
spark_session_port = spark.sparkContext.uiWebUrl.split(":")[-1]
print("Spark Session WebUI Port: " + spark_session_port)

23/11/09 14:28:44 WARN Utils: Your hostname, localhost.localdomain resolves to a loopback address: 127.0.0.1; using 10.21.11.4 instead (on interface eth0)
23/11/09 14:28:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/09 14:28:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark Session WebUI Port: 4040

In [2]:
spark

In [3]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler, OneHotEncoder
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

spark = SparkSession.builder.appName("Decision Tree Model").getOrCreate()

In [4]:
import pandas as pd

In [5]:
df = pd.read_excel('./card_default.xls')
df.head

<bound method NDFrame.head of       Unnamed: 0         X1   X2         X3        X4   X5     X6     X7  \
0             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2
1              1      20000    2          2         1   24      2      2
2              2     120000    2          2         2   26     -1      2
3              3      90000    2          2         2   34      0      0
4              4      50000    2          2         1   37      0      0
...          ...        ...  ...        ...       ...  ...    ...    ...
29996      29996     220000    1          3         1   39      0      0
29997      29997     150000    1          3         2   43     -1     -1
29998      29998      30000    1          2         2   37      4      3
29999      29999      80000    1          3         1   41      1     -1
30000      30000      50000    1          2         1   46      0      0

          X8     X9  ...        X15        X16        X17       X18       X19  \
0      PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2
1         -1     -1  ...          0          0          0         0       689
2          0      0  ...       3272       3455       3261         0      1000
3          0      0  ...      14331      14948      15549      1518      1500
4          0      0  ...      28314      28959      29547      2000      2019
...      ...    ...  ...        ...        ...        ...       ...       ...
29996      0      0  ...      88004      31237      15980      8500     20000
29997     -1     -1  ...       8979       5190          0      1837      3526
29998      2     -1  ...      20878      20582      19357         0         0
29999      0      0  ...      52774      11855      48944     85900      3409
30000      0      0  ...      36535      32428      15313      2078      1800

            X20       X21       X22       X23                           Y
0      PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1             0         0         0         0                           1
2          1000      1000         0      2000                           1
3          1000      1000      1000      5000                           0
4          1200      1100      1069      1000                           0
...         ...       ...       ...       ...                         ...
29996      5003      3047      5000      1000                           0
29997      8998       129         0         0                           0
29998     22000      4200      2000      3100                           1
29999      1178      1926     52964      1804                           1
30000      1430      1000      1000      1000                           1

[30001 rows x 25 columns]>

In [6]:
df.columns = df.iloc[0]
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object', name=0)

In [7]:
df.dtypes

0
ID                            object
LIMIT_BAL                     object
SEX                           object
EDUCATION                     object
MARRIAGE                      object
AGE                           object
PAY_0                         object
PAY_2                         object
PAY_3                         object
PAY_4                         object
PAY_5                         object
PAY_6                         object
BILL_AMT1                     object
BILL_AMT2                     object
BILL_AMT3                     object
BILL_AMT4                     object
BILL_AMT5                     object
BILL_AMT6                     object
PAY_AMT1                      object
PAY_AMT2                      object
PAY_AMT3                      object
PAY_AMT4                      object
PAY_AMT5                      object
PAY_AMT6                      object
default payment next month    object
dtype: object

In [8]:
df2 = df[1:]

In [9]:
df2.isna().sum()

0
ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [10]:
df2.to_csv('./card_payments.csv', index=False)

In [11]:
spark = SparkSession.builder.appName("Data_prep").getOrCreate()

In [12]:
df = spark.read.csv('./card_payments.csv', header=True, inferSchema=True)
df.show(5)

+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
| ID|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|PAY_0|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|default payment next month|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
|  1|    20000|  2|        2|       1| 24|    2|    2|   -1|   -1|   -2|   -2|     3913|     3102|      689|        0|        0|        0|       0|     689|       0|       0|       0|       0|                         1|
|  2|   120000|  2|        2|       2| 26|   -1|    2|    0|    0|    0|    2|     2682|     1725|     2682|     3272|     3455|     3261|       0|    1000|    1000|    1000|       0|    2000|                         1|
|  3|    90000|  2|        2|       2| 34|    0|    0|    0|    0|    0|    0|    29239|    14027|    13559|    14331|    14948|    15549|    1518|    1500|    1000|    1000|    1000|    5000|                         0|
|  4|    50000|  2|        2|       1| 37|    0|    0|    0|    0|    0|    0|    46990|    48233|    49291|    28314|    28959|    29547|    2000|    2019|    1200|    1100|    1069|    1000|                         0|
|  5|    50000|  1|        2|       1| 57|   -1|    0|   -1|    0|    0|    0|     8617|     5670|    35835|    20940|    19146|    19131|    2000|   36681|   10000|    9000|     689|     679|                         0|
+---+---------+---+---------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
only showing top 5 rows

In [13]:
df.columns

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default payment next month']

In [14]:
target = 'default payment next month'
predictors = list(df.columns)
predictors.remove(target)
predictors

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

In [15]:
# Convert the categorical labels in the 'Species' column to numerical values
label_indexer = StringIndexer(inputCol=target, outputCol="label")
data = label_indexer.fit(df).transform(df)

# Assemble the feature columns into a single vector column
assembler = VectorAssembler(inputCols=predictors, outputCol="features")
data = assembler.transform(data)

# Split data into training and testing sets
train_data, test_data = data.randomSplit([0.8, 0.2], seed=42)

## Decision Tree

In [16]:
dt_classifier = DecisionTreeClassifier(labelCol="label", featuresCol="features")

model = dt_classifier.fit(train_data)

In [17]:
predictions = model.transform(test_data)

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print(f"Test Accuracy: {accuracy:.4f}")

Test Accuracy: 0.8197

## Logistic Regression

In [18]:
from pyspark.ml import Pipeline 
from pyspark.ml.classification import LogisticRegression 
  
log_reg = LogisticRegression(labelCol="label", featuresCol="features") 
  
model = log_reg.fit(train_data)

In [19]:
results = model.transform(test_data)

In [20]:
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")

accuracy = evaluator.evaluate(results)

print(f"Test Accuracy: {accuracy:.4f}")

Test Accuracy: 0.8073

## Random Forest

In [21]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(labelCol="label", featuresCol="features")
rfModel = rf.fit(train_data)
predictions = rfModel.transform(test_data)

In [22]:
predictions = rfModel.transform(test_data)

In [23]:
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="accuracy")

accuracy = evaluator.evaluate(predictions)

print(f"Test Accuracy: {accuracy:.4f}")

Test Accuracy: 0.8103

In [24]:
metrics = ['accuracy','weightedPrecision','weightedRecall','f1']
m_df = pd.DataFrame(columns=metrics)
m_ls = []
for metric in metrics:
    evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName=metric)
    metric_ = evaluator.evaluate(predictions)
    m_ls.append(metric_)
m_df.loc[len(m_df)] = m_ls

In [25]:
performance_pd = pd.DataFrame({"model": [], "Accuracy": [], "Precision": [], "Recall": [], "F1": []})

In [26]:
performance_pd = pd.concat([performance_pd, pd.DataFrame({'model':"RF", 
                                                    'Accuracy': m_df['accuracy'], 
                                                    'Precision': m_df['weightedPrecision'], 
                                                    'Recall': m_df['weightedRecall'],
                                                    'F1': m_df['f1'],
                                                     }, index=[0])])
performance_pd

  model  Accuracy  Precision    Recall       F1
0    RF  0.810322   0.792482  0.810322  0.77974

In [27]:
from pyspark.sql.types import StructType, StructField, StringType, DoubleType

schema = StructType([
    StructField("model", StringType(), True),
    StructField("Accuracy", DoubleType(), True),
    StructField("Precision", DoubleType(), True),
    StructField("Recall", DoubleType(), True),
    StructField("F1", DoubleType(), True)
])

In [28]:
performance_spark = spark.createDataFrame(performance_pd, schema=schema)

In [29]:
performance_spark.show()

+-----+------------------+------------------+------------------+------------------+
|model|          Accuracy|         Precision|            Recall|                F1|
+-----+------------------+------------------+------------------+------------------+
|   RF|0.8103217158176944|0.7924823712226357|0.8103217158176944|0.7797398435038092|
+-----+------------------+------------------+------------------+------------------+

In [ ]:
len(list(train_data.columns))

## Multilayer Perceptron

In [ ]:
from pyspark.sql.functions import when

# Assuming 'label' is your label column
train_data = train_data.withColumn("default payment next month", when(df["default payment next month"] == 1.0, 1.0).otherwise(0.0))

In [ ]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
layers = [27, 15, 14, 1]
mlf = MultilayerPerceptronClassifier(maxIter=100, layers=layers, blockSize=128, seed=1234)
mlfModel = mlf.fit(train_data)

In [ ]:
predictions = mlfModel.transform(test_data)

In [ ]:
evaluator = MulticlassClassificationEvaluator(labelCol = 'label', predictionCol = 'prediction', metricName = 'accuracy')

In [ ]:
accuracy = evaluator.evaluate(predictions)
print(f"Test Accuracy: {accuracy:.4f}")